Run actions/setup-node@v4
Attempting to download 18...
Acquiring 18.20.8 - x64 from https://github.com/actions/node-versions/releases/download/18.20.8-14110393767/node-18.20.8-linux-x64.tar.gz
Extracting ...
/usr/bin/tar xz --strip 1 --warning=no-unknown-keyword --overwrite -C /home/runner/work/_temp/46d58059-19e0-4409-8889-dd7269452015 -f /home/runner/work/_temp/f5256555-dac6-4ef6-a8ff-2644c88fdd72
Adding to the cache ...
Environment details
/opt/hostedtoolcache/node/18.20.8/x64/bin/npm config get cache
/home/runner/.npm
Error: Dependencies lock file is not found in /home/runner/work/modular-web-architecture/modular-web-architecture. Supported file patterns: package-lock.json,npm-shrinkwrap.json,yarn.lock
